input.c-wagtailautocomplete__search {
	padding-inline-start: $search-input-padding-inline-start;

	&--has-input {
		border-end-start-radius: $zero;
		border-end-end-radius: $zero;
	}
}

div.c-wagtailautocomplete__search-input-container {
	position: relative;
}

svg.c-wagtailautocomplete__search-icon {
	position: absolute;
	z-index: $search-icon-z-index;
	inset-inline-start: $search-icon-padding;
	top: 7px;
	height: $search-icon-width;
	width: $search-icon-width;
	color: $search-icon-color;
}
