.c-wagtailautocomplete__selection {
	background-color: $selection-bg;
	color: $selection-fg;
	font-size: $item-font-size;
	border-radius: $wagtail-border-radius;
	margin-bottom: $selection-margin-bottom;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:last-child {
		margin-bottom: $zero;
	}

	&--single {
		margin-bottom: $zero;
	}

	&__label,
	&__button {
		padding: $selection-padding;
	}

	&__button {
		background-color: transparent;
		border: 0;
	}

	&__icon {
		width: $item-spacing;
		height: $item-spacing;

		path {
			fill: $selection-fg;
		}
	}
}
