.c-wagtailautocomplete__suggestions {
	display: flex;
	flex-direction: column;
	border-end-start-radius: $wagtail-border-radius;
	border-end-end-radius: $wagtail-border-radius;
	overflow-y: scroll;
	max-height: 30vh;

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track {
		border-end-end-radius: $wagtail-border-radius;
	}

	&::-webkit-scrollbar-track {
		background-color: $white;
	}

	&--populated {
		border: 1px solid $input-border-color;
		border-top-width: $zero;
	}

	&__item {
		cursor: pointer;
		border: 1px solid $input-border-color;
		border-top-width: $zero;
		border-inline-start-width: $zero;
		border-inline-end-width: $zero;
		font-size: $item-font-size;
		padding: $suggestions-item-padding;
		background-color: $suggestions-bg;

		// Minimum factor of 10 that is above Wagtail admin components.
		z-index: $suggestions-item-z-index;

		// We don't want the flex parent to crush our content to get us to
		// fit into the max-height, bro.
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&:last-child {
			border-bottom-width: $zero;
		}

		svg {
			width: 1.2em;
			height: 1.2em;
			flex-shrink: 0;
		}

		path {
			fill: $suggestions-bg;
		}

		.w-theme-dark & {
			background-color: $suggestions-bg-dark;
		}

		@media (prefers-color-scheme: dark) {
			background-color: $suggestions-bg-dark;
		}
	}

	&__item--active {
		background-color: $suggestions-bg-active;
		color: $suggestions-fg-active;

		path {
			fill: $suggestions-fg-active;
		}
	}
}
